#mongmong{
    background-color:rgb(221, 255, 244); 
    margin: 50px; 
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
#mongmong1{
    border: white 20px solid;
}
#mongmong2{
    border: white 20px solid;
}
#mongmong3{
    border: white 20px solid;
}
#mongmong4{
    border: white 20px solid;
}
#mongmong5{
    border: white 20px solid;
}
#back{
    text-align:left;
}