#nangnang{
    background-color:rgb(221, 255, 244); 
    margin: 50px; 
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
#nangnang1{
    border: white 20px solid;
}
#nangnang2{
    border: white 20px solid;
}
#nangnang3{
    border: white 20px solid;
}
#nangnang4{
    border: white 20px solid;
}
#nangnang5{
    border: white 20px solid;
}
#back{
    text-align:left;
}