#storebom{
    margin:30px;
    text-align:left;
}
#doctordog{
    margin:30px;
    text-align:left;
}
#petwho{
    margin:40px;
    text-align:left;
}

* {
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
    color:#333;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#menu {
    font:bold 16px "malgun gothic";
    width:1300px;
    height:50px;
    background: #fffcbf ;
    color:black;
    line-height: 50px; 
    margin:0 auto;
    text-align: center;
}

#menu > ul > li {
    float:left;
    width:170px;
    position:relative;
    margin-left: 70px;
    
}
#menu > ul > li > ul {
    width:170px;
    display:none;
    position: absolute;
    font-size:14px;
    background: rgb(195, 247, 147);
}
#menu > ul > li:hover > ul {
    display:block;
    
}
#menu > ul > li > ul > li:hover {
    background: rgb(243, 236, 162);
    transition: ease 1s;
    }
#login{
    
    margin-right:10px;
}
#loginText{
    font-size:13px;
}
#signup{
    
    margin-right:10px;
}
#signupText{
    font-size:13px;
}
#icon{
    text-align:right;
}

#shopP{
    background-color:rgb(221, 255, 244); 
    margin: 50px; 
}
p1{
    color:red;
}
p2{
    color:blue;
}